@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("youtube.com") {
 	
/*For the new Material Design for YouTube*/

/*1.3.8*/

	/*Main color variables*/
	:root
	{
		--main-color: /*[[picker]]*/; /*by default this will be #00ADEE*/
	}
	.ytd-menu-renderer[button-renderer]:hover 
	{
   		--yt-button-color: var(--main-color);
  	}


	/*Changed text highlight*/
	::selection
	{
		background: var(--main-color) !important;
		color: #fff !important;
	}
	::-moz-selection
	{
		background: var(--main-color) !important;
		color: #fff !important;
	}

	/*Background section*/
	#like-bar.ytd-sentiment-bar-renderer,#progress.ytd-thumbnail-overlay-resume-playback-renderer,#selectionBar.paper-tabs
	{
		background-color: var(--main-color) !important;
	}
	/*For the outline around the channel name*/
	.style-scope.ytd-comment-renderer.creator
	{
		background-color: var(--main-color) !important;
	}
	.style-scope.ytd-comment-renderer.creator:hover
	{
		background-color: #3a3a3a !important;
	}
	#name:hover
	{
		color: var(--main-color) !important;
	}
	
	/*Logo*/
	#logo-icon.ytd-topbar-logo-renderer #tube-paths
	{
		fill: var(--main-color) !important;
	}
	
	app-drawer.ytd-app:not([persistent]) #header.ytd-app
	{
		border-color: var(--main-color) !important;
	}
	
	/*Progress bar*/
	#progress
	{
		background-color: var(--main-color) !important;
		border-color: var(--main-color) !important;
	}
	
	/*Buttons*/
	.ytd-menu-renderer[button-renderer]:hover yt-icon.ytd-menu-renderer, #button.ytd-menu-renderer:hover yt-icon.ytd-menu-renderer,#icon-label.yt-dropdown-menu:hover,ytd-topbar-menu-button-renderer #button.ytd-topbar-menu-button-renderer:hover,yt-formatted-string.ytd-button-renderer:nth-child(2):hover,ytd-guide-entry-renderer[active] .guide-icon.ytd-guide-entry-renderer,ytd-toggle-button-renderer #button.ytd-toggle-button-renderer:hover,button.style-default-active,ytd-button-renderer.style-scope:nth-child(3):hover yt-formatted-string.ytd-button-renderer:nth-child(2)
	{
		color: var(--main-color) !important;
	}
	
	/*Button hover*/
	#guide-button.ytd-masthead:hover #guide-icon.ytd-masthead,#guide-button.ytd-app:hover #guide-icon.ytd-app,#label.yt-dropdown-menu:hover #label-icon.yt-dropdown-menu,button.ytd-expandable-tab-renderer:hover .style-scope.ytd-expandable-tab-renderer
	{
   		fill: var(--main-color) !important;
	}
	
	/*Subscribe button and comment button*/
	yt-formatted-string.style-destructive,paper-button.ytd-subscribe-button-renderer,paper-button.ytd-subscribe-button-renderer[subscribed],.deemphasize.style-scope.yt-formatted-string
	{
		color: #fff !important;
	}
	ytd-button-renderer.style-destructive[is-paper-button],paper-button.ytd-subscribe-button-renderer,.ytp-sb-subscribe, a.ytp-sb-subscribe
	{
		background-color: var(--main-color) !important;
		opacity: 0.9 !important;
	}
	ytd-button-renderer.style-destructive[is-paper-button]:hover,paper-button.ytd-subscribe-button-renderer:hover,paper-button.ytd-subscribe-button-renderer[subscribed]:hover,.ytp-sb-subscribe, a.ytp-sb-subscribe:hover,.ytp-sb-unsubscribe:hover
	{
		opacity: 1 !important;
	}
	paper-button.ytd-subscribe-button-renderer[subscribed],.ytp-sb-unsubscribe
	{
		background-color: #333 !important;
		color: #fff !important;
		opacity: 0.9 !important;
	}
	ytd-button-renderer.style-primary[is-paper-button]
	{
		background-color: transparent !important;
	}
	
	/*Toggle button to play next*/
	paper-toggle-button[checked]:not([disabled]) .toggle-bar.paper-toggle-button
	{
		background-color: var(--main-color) !important;
		opacity: 1 !important;
	}
	
	.badge-style-type-simple.ytd-badge-supported-renderer,.badge-style-type-disabled.ytd-badge-supported-renderer, yt-icon.ytd-badge-supported-renderer
	{
		background: transparent !important;
		color: var(--main-color) !important;
		padding-left: 0px !important;
		opacity: .7 !important;
	}
 	
	/*Hover section*/
	#video-title:hover,#byline.ytd-video-meta-block:hover,#author-text.yt-simple-endpoint.ytd-comment-renderer:hover,ytd-button-renderer #button.ytd-button-renderer:hover,.yt-simple-endpoint.style-scope.yt-formatted-string:hover,#title.ytd-shelf-renderer:hover,#footer.ytd-guide-renderer #guide-links-primary a:hover:not(:last-child), #footer.ytd-guide-renderer #guide-links-secondary a:hover:not(:last-child),yt-formatted-string.style-brand:hover,#channel-title.ytd-channel-renderer:hover,paper-tab.ytd-c4-tabbed-header-renderer:hover,#link-list-container.ytd-channel-about-metadata-renderer yt-formatted-string.ytd-channel-about-metadata-renderer:hover,#title.ytd-grid-channel-renderer:hover,.content-text.style-scope.ytd-metadata-with-image-row-renderer:hover,.yt-simple-endpoint.style-scope.yt-formatted-string:hover
	{
		color: var(--main-color) !important;
		opacity: 1 !important;
	}
  
	/*Permanently colored*/
	#byline.ytd-video-meta-block,#author-text.yt-simple-endpoint.ytd-comment-renderer, #author-text.yt-simple-endpoint.ytd-comment-renderer,#title.ytd-shelf-renderer,yt-formatted-string.style-brand,#link-list-container.ytd-channel-about-metadata-renderer yt-formatted-string.ytd-channel-about-metadata-renderer,.yt-simple-endpoint.style-scope.yt-formatted-string
	{
		color: var(--main-color) !important;
		opacity: 0.9 !important;
		text-decoration: none  !important;
		text-shadow: none !important;
	}
	
	/*Title hover*/
	#items.ytd-grid-renderer > ytd-grid-video-renderer.ytd-grid-renderer:hover #video-title.yt-simple-endpoint.ytd-grid-video-renderer,#dismissable.ytd-compact-video-renderer:hover h3.ytd-compact-video-renderer,#content.ytd-playlist-video-renderer:hover #video-title.ytd-playlist-video-renderer,ytd-playlist-panel-video-renderer:hover #video-title.ytd-playlist-panel-video-renderer,ytd-playlist-panel-video-renderer:hover #index.ytd-playlist-panel-video-renderer,#items.yt-horizontal-list-renderer > .yt-horizontal-list-renderer:hover #video-title.yt-simple-endpoint.ytd-grid-video-renderer,ytd-notification-renderer:hover .text.ytd-notification-renderer,ytd-grid-playlist-renderer:hover #video-title.ytd-grid-playlist-renderer
	{
		color: var(--main-color) !important;
	}
	/*Title hover in menus*/
 	ytd-guide-entry-renderer:hover .title.ytd-guide-entry-renderer,ytd-guide-entry-renderer:hover .guide-icon.ytd-guide-entry-renderer,ytd-menu-service-item-renderer:hover yt-formatted-string.ytd-menu-service-item-renderer,ytd-compact-link-renderer:hover #label.ytd-compact-link-renderer,ytd-compact-link-renderer:hover yt-icon.ytd-compact-link-renderer,paper-item:hover .item.yt-dropdown-menu,#label.yt-dropdown-menu:hover #icon-label.yt-dropdown-menu,yt-dropdown-menu:hover #label-text.yt-dropdown-menu
	{
		color: var(--main-color) !important;
	}
	
	/*Avatars and thumbnails opacity */
	img.yt-img-shadow 
	{
		opacity: 0.9 !important;
	}
	img.yt-img-shadow:hover
	{
		opacity: 1 !important;
	}
	
	/*Video section*/
	/*Video title hover in html5 video*/
  	.html5-video-player a:hover
  	{
 		color: #fff !important;
		text-shadow: none !important;
  	}

	/* Code takken from https://userstyles.org/styles/95280 */
	/* scrubber button */
	.html5-scrubber-button:hover, .ytp-chrome-controls .ytp-button[aria-pressed]::after, .ytp-scrubber-button:hover, .ytp-swatch-background-color, .ytp-swatch-background-color-secondary
	{
		background: var(--main-color) !important;
	}
	/* progress bar */
	.html5-play-progress, .ytp-play-progress
	{
		background: var(--main-color) !important;
	}

	.ytp-volume-slider-track, .ytp-volume-slider-handle:before
	{
		background: var(--main-color) !important;
		z-index: -117;
	}

	.ytp-settings-button.ytp-hd-quality-badge::after, .ytp-settings-button.ytp-4k-quality-badge::after, .ytp-settings-button.ytp-5k-quality-badge::after, .ytp-settings-button.ytp-8k-quality-badge::after, .ytp-settings-button.ytp-3d-badge::after
	{
		background-color: var(--main-color) !important;
	}

	.ytp-swatch-color
	{
		color: var(--main-color) !important;
	}

	.ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox
	{
		background: var(--main-color) !important;
	}

	.ytp-chrome-controls .ytp-button.ytp-youtube-button:hover:not([aria-disabled="true"]):not([disabled]) .ytp-svg-fill-logo-tube-lozenge
	{
		fill: var(--main-color) !important;
	}

	.ytp-cued-thumbnail-overlay:hover .ytp-large-play-button-bg, .ytp-large-play-button.ytp-touch-device .ytp-large-play-button-bg
	{
		fill: var(--main-color) !important;
	}
	/*Added because of this: https://forum.userstyles.org/discussion/53368/solved-fix-this-annoying-youtube-tab-select-bug-thats-been-there-forever#latest*/
	.ytp-keyboard-focus .ytp-progress-bar:focus
	{
		box-shadow: none !important;
	}
	
  	/*Changing icon for unavailable video*/
  	#img.ytd-player-error-message-renderer 
	{
		display: block !important;
		-moz-box-sizing: border-box !important;
		box-sizing: border-box !important;
		background: url(https://i.imgur.com/2F3NvUl.png) no-repeat !important;
		width: 140px !important;
		height: 100px !important;
		padding-left: 140px !important;
		position: relative !important;
	}
	/*Changing icon for unavailable page (404)*/
	#error-page-hh-illustration 
	{
		display: block !important;
		-moz-box-sizing: border-box !important;
		box-sizing: border-box !important;
		background: url(https://i.imgur.com/2F3NvUl.png) no-repeat !important;
		width: 140px !important;
		height: 100px !important;
		padding-left: 140px !important;
		right: -175px !important;
		position: relative !important;
	}
	/*Some spacing for the logo*/
	#yt-masthead #logo-container 
	{
		margin-right: 20px !important;
	}
	/*Playlist changes*/
	ytd-playlist-panel-video-renderer:hover 
	{
		background-color: #3a3a3a !important;
	}

	ytd-playlist-panel-video-renderer[selected] #index.ytd-playlist-panel-video-renderer,#byline.ytd-playlist-panel-video-renderer,.ytp-video-menu-item[aria-checked="true"] .ytp-video-menu-item-now-playing,.ytp-video-menu-item-author 
	{
		color: var(--main-color) !important;
	}

	.header.ytd-playlist-panel-renderer,.playlist-items.ytd-playlist-panel-renderer 
	{
		background-color: #181818 !important;
	}
	
	.ytp-video-menu-item[aria-checked="true"] .ytp-video-menu-item-thumbnail
	{
	border-color: var(--main-color) !important;
	}
	
	#video-title.ytd-playlist-panel-video-renderer
	{
		color: #ccc;
	}
	
	/*Search bar*/
	ytd-searchbox[mode=legacy][has-focus] #container.ytd-searchbox
	{
		border-color: var(--main-color) !important;
	}

	/*Search for channel videos*/
 	.unfocused-line.paper-input-container,.focused-line.paper-input-container
	{
   	 	background-color: var(--main-color) !important;
	}
	
	iron-icon:hover
	{
    		fill: var(--main-color) !important;
	}
	
	/*Iridium support, former YouTube+*/
	#iridium_settings .iri-settings-button.danger,.active_sidebar
	{
		background-color: var(--main-color) !important;
		border-color: var(--main-color) !important;
	}
	.feature-link
	{
		color: var(--main-color) !important;
	}
	.iri-dark-mode-settings .sidebar_section:hover:not(.active_sidebar)
	{
		background-color: #3a3a3a !important;
	}
	.sidebar_section
	{
		color: #ccc !important;
	}
	
	/*Comments*/
	/*Show more stuff*/
	.style-scope.ytd-comment-replies-renderer:hover,.more-button.style-scope.ytd-comment-renderer:hover,.more-button.style-scope.ytd-video-secondary-info-renderer:hover
	{
		color: var(--main-color) !important;
	}
	
	/*Show more videos*/
	.style-scope.yt-next-continuation:hover
	{
		background-color: #3a3a3a !important;
		color: var(--main-color) !important;
	}
	
	/*Heart icon in comments*/
	#hearted-border.ytd-creator-heart-renderer,#hearted.ytd-creator-heart-renderer
	{
		color: var(--main-color) !important;
	}
	
	
	/*Resizing the top bar and it's spacing to get some extra vertical space*/
	/*
	ytd-page-manager 
	{
		margin-top: 30px !important;
	}
	#container.ytd-masthead
	{
		height: 40px !important;
	}
	*/
	
	/*Notification stuff*/
	#notification-count.ytd-notification-topbar-button-renderer
	{
		background-color: var(--main-color) !important;
		box-shadow: -1px 1px #222;
	}
 	#button:hover 
  	{
  		color: var(--main-color) !important;
  	}

	/*Cards*/
	.iv-card-content,.ytp-ce-expanding-overlay-background,.ytp-cards-teaser .ytp-cards-teaser-text
	{
		background-color: #181818 !important;
	}
	.ytp-cards-teaser .ytp-cards-teaser-box,.iv-card-image
	{
		border: 0px !important;
	}
	.iv-card-content > :first-child,.html5-video-player a,.iv-card h2,.ytp-cards-teaser .ytp-cards-teaser-text
	{
		color: #fff !important;
	}
	.iv-card:hover .iv-card-primary-link,.ytp-ce-website-title
	{
		color: var(--main-color) !important;
	}
	.ytp-ce-element:hover 
	{
		border-color: var(--main-color) !important;
	}
	.ytp-ce-channel-title.ytp-ce-link
	{
		color: var(--main-color) !important;
		opacity: 0.9 !important;
	}
	.ytp-ce-channel-title.ytp-ce-link:hover,.ytp-cards-teaser .ytp-cards-teaser-text:hover
	{
		color: var(--main-color) !important;
		opacity: 1 !important;
	}
	.ytp-ce-channel-metadata.yt-ui-ellipsis.yt-ui-ellipsis-3 {
		background: transparent;
		color: #ccc;
	}
}
