@-moz-document domain("youtube.com") {
 	
/*For the new Material Design for YouTube*/
/*Theme made by RaitaroH @https://github.com/RaitaroH/YouTube-DeepDark*/

/*2.0.8*/

	/*Main color variables*/
	:root
	{
		/*User colors*/
		--main-color: /*[[mainColor]]*/;
		--main-background: /*[[mainBackground]]*/;
		--second-background: /*[[secondBackground]]*/;
		--hover-background: /*[[hoverBackground]]*/;
		--main-text: /*[[mainText]]*/;
		--dimer-text: /*[[dimerText]]*/;
		
		/*DeepDark colors*/
		/*
		--main-color: #00adee;
		--main-background: #111111;
		--second-background: #181818; 
		--hover-background: #232323;
		--main-text: #eff0f1;
		--dimer-text: #CCCCCC;
		*/
		
		/*KDE colors*/
		/*
		--main-color: #3DAEE9;
		--main-background: #232629;
		--second-background: #2a2e32;
		--hover-background: #31363b;
		--main-text: #eff0f1;
		--dimer-text: #bdc3c7;
		*/
				
		/*Vertex Dark colors*/
		/*
		--main-color: #4080fb;
		--main-background: #2B2B2C;
		--second-background: #353638;
		--hover-background: #515254;
		--main-text: #F3F3F5;
		--dimer-text: #AEAFB0;
		*/
		
		/*Arc Dark colors*/
		/*
		--main-color: #5294E2;
		--main-background: #343944;
		--second-background: #383C4A;
		--hover-background: #414A59;
		--main-text: #C1C8D1;
		--dimer-text: #B3BAC5;
		*/
		
		/*Firefox Dark colors*/
		/*
		--main-color: #5675B9;
		--main-background: #272B35;
		--second-background: #181D20;
		--hover-background: #353A44;
		--main-text: #E3EEF9;
		--dimer-text: #606376;
		*/
		
		/*Discord colors*/
		/*
		--main-color: #7289DA;
		--main-background: #1E2124;
		--second-background: #2F3136;
		--hover-background: #484B51;
		--main-text: #FFFFFF;
		--dimer-text: #ADA8AA;
		*/
		
		/*YouTube dark colors*/
		/*
		--main-color: #E52117;
		--main-background: #111111;
		--second-background: #232323;
		--hover-background: #343434;
		--main-text: #E1E1E1;
		--dimer-text: #7F7F7F;
		*/
		
		/*YouTube light colors*/
		/*
		--main-color: #E52117;
		--main-background: #F9F9F9;
		--second-background: #FFFFFF;
		--hover-background: #EAEAEA;
		--main-text: #111111;
		--dimer-text: #43434B;
		*/
		
		/*Mint-Y-Dark colors*/
		/*
		--main-color: #9AB87C;
		--main-background: #2F2F2F;
		--second-background: #383838;
		--hover-background: #404040;
		--main-text: #FFFFFF;
		--dimer-text: #D5DADA;
		*/
		
		/*9anime colors*/
		/*
		--main-color: #723f8c;
		--main-background: #0B0A0D;
		--second-background: #17151C;
		--hover-background: #1E1C25;
		--main-text: #B4B4B4;
		--dimer-text: #747474;
		*/
	}
	
	/*Variable changes*/
	:not([style-scope]):not(.style-scope) 
	{
		--yt-primary-color: var(--main-text) !important;
		--yt-primary-text-color: var(--main-text) !important;
		--yt-hovered-text-color: var(--dimer-text) !important;
		--yt-secondary-text-color: var(--dimer-text) !important;
		--yt-disabled-text-color: var(--hover-background) !important;
		--yt-placeholder-text-color: var(--dimer-text) !important;
		--yt-border-color: var(--hover-background) !important;
		--yt-searchbox-border-color: var(--main-background) !important;
		--yt-searchbox-legacy-border-color: var(--main-background) !important;
		--yt-searchbox-legacy-border-shadow-color: var(--second-background) !important;
		--yt-searchbox-legacy-button-color: var(--hover-background) !important;
		--yt-searchbox-legacy-button-border-color: var(--main-background) !important;
		--yt-searchbox-legacy-button-focus-color: var(--second-background) !important;
		--yt-searchbox-legacy-button-hover-color: var(--hover-background) !important;
		--yt-searchbox-legacy-button-hover-border-color: var(--main-background) !important;
		--yt-searchbox-legacy-button-icon-color: var(--dimer-text) !important;
		--yt-commentbox-border-inactive: var(--dimer-text) !important;
		--yt-commentbox-border-active: var(--main-text) !important;
		--yt-paper-button-ink-color: var(--hover-background) !important;
		--yt-button-color: var(--dimer-text) !important;
		--yt-icon-color: var(--dimer-text) !important;
		--yt-icon-hover-color: var(--main-color) !important;
		--yt-icon-active-color: var(--main-color) !important;
		--yt-icon-disabled-color: var(--hover-background) !important;
		--yt-endpoint-color: var(--hover-background) !important;
		--yt-expand-color: var(--dimer-text) !important;
		--yt-metadata-color: var(--dimer-text) !important;
		--yt-channel-owner: var(--main-color) !important;
		--yt-autoplay-toggle: var(--main-text) !important;
		--yt-playlist-background-header: var(--hover-background) !important;
		--yt-playlist-background-item: var(--second-background) !important;
		--yt-playlist-title-text: var(--main-text) !important;
		--yt-playlist-message-text: var(--main-text) !important;
		--yt-subscribe-button-text-color: var(--main-text) !important;
		--yt-brand-color: var(--main-text) !important;
		--yt-button-text-color: var(--dimer-text) !important;
		--yt-button-payment-text-color: var(--main-text) !important;
		--yt-video-publish-date-color: var(--dimer-text) !important;
		--yt-vat-notice-text: var(--dimer-text) !important;
		--yt-copyright-text: var(--dimer-text) !important;
		--yt-guide-entry-hover-background-color: var(--hover-background) !important;
		--yt-survey-button-color: var(--yt-primary-text-color) !important;
		--yt-thumbnail-placeholder-color: var(--second-background) !important;
		--yt-transcript-cue-hover-background-color: var(--hover-background) !important;
		--yt-transcript-toolbar-background-color: var(--hover-background) !important;
		--yt-transcript-toolbar-text: var(--main-text) !important;
		--yt-primary-disabled-button-text-color: var(--hover-background) !important;
		--yt-badge-background: var(--hover-background) !important;
		--yt-badge-disabled-color: var(--hover-background) !important;
		--yt-collection-badge-color: var(--dimer-text) !important;
		--yt-owner-badge-color: var(--hover-background) !important;
		--yt-simple-badge-color: var(--dimer-text) !important;
		--yt-ad-badge-text-color: var(--main-background) !important;
		--paper-menu-background-color: var(--second-background) !important;
		--paper-menu-color: var(--main-text) !important;
		--primary-text-color: var(--main-text) !important;
		--yt-simple-menu-header-background: var(--second-background) !important;
		--yt-item-section-header-color: var(--main-text) !important;
		--yt-menu-hover-backgound-color: var(--second-background) !important;
		--yt-menu-focus-background-color: var(--hover-background) !important;
		--yt-app-background: var(--main-background) !important;
		--yt-main-app-background: var(--main-background) !important;
		--yt-main-app-background-tmp: var(--main-background) !important;
		--yt-guide-background: var(--second-background) !important;
		--yt-dialog-background: var(--second-background) !important;
		--yt-searchbox-background: var(--main-background) !important;
		--yt-channel-header-background:  var(--second-background) !important;
		--yt-playlist-sidebar-background: var(--second-background) !important;
		--yt-transcript-background: var(--second-background) !important;
		--yt-watch-card-secondary-text-color: var(--main-text) !important;
		--yt-watch-card-album-header-background: var(--main-background) !important;
		--yt-comment-text-color: var(--main-text) !important;
		--yt-comment-metadata-text-color: var(--hover-background) !important;
		--yt-moderation-panel-background: var(--second-background) !important;
		--yt-moderation-panel-hover: var(--second-background) !important;
		--yt-moderation-panel-comment-text: var(--dimer-text) !important;
		--yt-moderation-panel-comment-metadata-text: var(--dimer-text) !important;
		--yt-moderation-icon-color: var(--dimer-text) !important;
		--yt-moderation-icon-hover-color: var(--dimer-text) !important;
		--yt-backstage-metadata-text-color: var(--main-text) !important;
		--yt-backstage-video-link-background-color: var(--second-background) !important;
		--yt-backstage-image-alert-color: var(--main-text) !important;
		--yt-shopping-product-info: var(--dimer-text) !important;
		--yt-live-chat-action-panel-background-color: var(--second-background) !important;
		--yt-live-chat-action-panel-background-color-transparent: var(--second-background) !important;
		--yt-live-chat-primary-text-color: var(--main-text) !important;
		--yt-live-chat-secondary-text-color: var(--dimer-text) !important;
		--yt-live-chat-tertiary-text-color: var(--hover-background) !important;
		--yt-swatch-primary-darker: var(--hover-background) !important;
		--yt-swatch-primary: var(--second-background) !important;
		--yt-swatch-text: var(--main-text) !important;
		--yt-swatch-input-text: var(--main-text) !important;
		--yt-swatch-textbox-bg: var(--main-background) !important;
		--yt-swatch-icon-color: var(--hover-background) !important;
		--yt-swatch-important-text: var(--main-text) !important;
		--yt-swatch-logo-override: var(--main-text) !important;
		--yt-lightsource-section1-color: var(--yt-channel-header-background) !important;
		--yt-lightsource-primary-title-color: var(--yt-primary-text-color) !important;
		--yt-lightsource-secondary-title-color: var(--yt-metadata-color) !important;
		--paper-tabs-selection-bar-color: var(--yt-lightsource-secondary-title-color) !important;
		--paper-toggle-button-checked-button-color: var(--main-text) !important;
		--paper-toggle-button-unchecked-bar-color: var(--dimer-text) !important;
		--paper-radio-button-checked-color: var(--main-color) !important;
		--yt-featured-channel-title-text-color: var(--dimer-text) !important;
		--yt-disabled-text-color: var(--dimer-text) !important;
		--yt-disabled-paper-button-color: var(--yt-disabled-text-color);
		--yt-brand-paper-button-color: var(--main-color) !important;
		--yt-paper-radio-button-checked-color: var(--dimer-text) !important;
		--yt-toggle-color: var(--main-color) !important;
		--yt-formatted-string-deemphasize-color: var(--dimer-text) !important;
		--yt-moderation-panel-likely-spam-divider: var(--hover-background) !important;
		--yt-backstage-cancel-background-color: var(--main-text) !important;
		--yt-backstage-cancel-color: var(--main-text) !important;
		--yt-offer-background-color: var(--hover-background) !important;
	}
	
	/*Background for the entire page*/
	html
	{
		background-color: var(--main-background) !important;
	}
	
	/*Border for the sidemenu*/
	#guide-content.ytd-app
	{
		border-right: 1px solid var(--yt-border-color) !important;
	}
	
	/*Changed text highlight*/
	::selection
	{
		background: var(--main-color) !important;
		color: var(--main-text) !important;
	}
	::-moz-selection
	{
		background: var(--main-color) !important;
		color: var(--main-text) !important;
	}
	
	/*Outline for links*/
 	a
 	{
     		outline-color: var(--main-color) !important;
	}
	/*Outline for comments*/
	#content-text.ytd-comment-renderer
	{
    		outline: none !important;
	}	

	/*Backgrounds*/
	#like-bar.ytd-sentiment-bar-renderer,#progress.ytd-thumbnail-overlay-resume-playback-renderer,#selectionBar.paper-tabs
	{
		background-color: var(--main-color) !important;
	}
	
	
	/*Border color for terms and conditions*/
	ytd-consent-bump-renderer
	{
		border-bottom: 1px solid var(--main-color) !important;
	}
	
	#title.ytd-grid-channel-renderer
	{
		color: rgb(255,255,255) !important;
	}
	
	/*For the outline around the channel name*/
	.style-scope.ytd-comment-renderer.creator
	{
		background-color: var(--main-color) !important;
	}
	.style-scope.ytd-comment-renderer.creator:hover
	{
		background-color: var(--hover-background) !important;
	}
	#name:hover
	{
		color: var(--main-color) !important;
	}
	
	app-drawer.ytd-app:not([persistent]) #header.ytd-app
	{
		border-color: var(--main-color) !important;
	}
	
	/*Progress bar*/
	#progress
	{
		background-color: var(--main-color) !important;
		border-color: var(--main-color) !important;
	}
	yt-page-navigation-progress
	{
		background-color: transparent !important;
	}
	
	/*Buttons*/
	.ytd-menu-renderer[button-renderer]:hover yt-icon.ytd-menu-renderer, #button.ytd-menu-renderer:hover yt-icon.ytd-menu-renderer,#icon-label.yt-dropdown-menu:hover,ytd-topbar-menu-button-renderer #button.ytd-topbar-menu-button-renderer:hover,yt-formatted-string.ytd-button-renderer:nth-child(2):hover,ytd-guide-entry-renderer[active] .guide-icon.ytd-guide-entry-renderer,ytd-toggle-button-renderer #button.ytd-toggle-button-renderer:hover,button.style-default-active,ytd-button-renderer.style-scope:nth-child(3):hover yt-formatted-string.ytd-button-renderer:nth-child(2), ytd-toggle-button-renderer.style-text[is-icon-button]:hover,ytd-button-renderer.style-default[is-icon-button]:hover, ytd-button-renderer.force-icon-button a.ytd-button-renderer:hover ytd-button-renderer #button.ytd-button-renderer, .header.ytd-account-settings button.ytd-account-settings:hover,#close.ytd-video-quality-promo-renderer:hover
	{
		color: var(--main-color) !important;
	}
	
	/*Button hover*/
	#guide-button.ytd-masthead:hover #guide-icon.ytd-masthead,#guide-button.ytd-app:hover #guide-icon.ytd-app,#label.yt-dropdown-menu:hover #label-icon.yt-dropdown-menu,button.ytd-expandable-tab-renderer:hover .style-scope.ytd-expandable-tab-renderer
	{
   		fill: var(--main-color) !important;
	}
	
	/*Active grid icon*/
	button.ytd-button-renderer[is="paper-icon-button-light"][disabled]
	{
		color: rgb(255,255,255) !important;
	}
	
	/*Subscribe button and comment button*/
	yt-formatted-string.style-destructive,paper-button.ytd-subscribe-button-renderer,paper-button.ytd-subscribe-button-renderer[subscribed],.deemphasize.style-scope.yt-formatted-string
	{
		color: var(--main-text) !important;
	}
	ytd-button-renderer.style-destructive[is-paper-button],paper-button.ytd-subscribe-button-renderer,.ytp-sb-subscribe, a.ytp-sb-subscribe
	{
		background-color: var(--main-color) !important;
		opacity: 0.9 !important;
	}
	ytd-button-renderer.style-destructive[is-paper-button]:hover,paper-button.ytd-subscribe-button-renderer:hover,paper-button.ytd-subscribe-button-renderer[subscribed]:hover,.ytp-sb-subscribe, a.ytp-sb-subscribe:hover,.ytp-sb-unsubscribe:hover
	{
		opacity: 1 !important;
	}
	paper-button.ytd-subscribe-button-renderer[subscribed],.ytp-sb-unsubscribe
	{
		background-color: var(--second-background) !important;
		color: var(--main-text) !important;
		opacity: 0.9 !important;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)  !important;
	}
	ytd-button-renderer.style-primary[is-paper-button]
	{
		background-color: transparent !important;
	}
	
	/*Edit button in channel page*/
	#edit-buttons.ytd-c4-tabbed-header-renderer ytd-button-renderer.ytd-c4-tabbed-header-renderer
	{
		background-color: transparent !important;
	}
	
	/*Toggle button to play next*/
	paper-toggle-button[checked]:not([disabled]) .toggle-bar.paper-toggle-button
	{
		background-color: var(--main-color) !important;
		opacity: 0.9 !important;
	}
	paper-toggle-button[checked]:not([disabled]) .toggle-button.paper-toggle-button
	{
		--paper-toggle-button-checked-button-color: rgb(255,255,255) !important;
	}
	/*Hover for toggle button*/
	.toggle-button.paper-toggle-button:hover,paper-toggle-button[checked]:not([disabled]) .toggle-button.paper-toggle-button:hover
	{
		background-color: var(--main-color) !important;
	}
	
	/*Filter active*/
	paper-button.ytd-toggle-button-renderer
	{
		color: rgba(255, 255, 255, 0.5) !important;
	}
	
	/*Badges*/
	.badge-style-type-simple.ytd-badge-supported-renderer,.badge-style-type-disabled.ytd-badge-supported-renderer, yt-icon.ytd-badge-supported-renderer
	{
		background: transparent !important;
		color: var(--main-color) !important;
		padding-left: 0px !important;
		opacity: .7 !important;
	}
	/*Trending badge*/
	.badge-style-type-featured.ytd-badge-supported-renderer
	{
		background: var(--main-color) !important;
	}
	/*Author verified badge in comments*/
	ytd-author-comment-badge-renderer:not(.creator) #icon.ytd-author-comment-badge-renderer
	{
		fill: var(--main-color) !important;
	}
	/*Live now badge*/
	.badge-style-type-live-now.ytd-badge-supported-renderer
	{
		color: var(--main-color) !important;
		border-color: var(--main-color) !important;
	}
 	
	/*Hover section*/
	#video-title:hover,#byline.ytd-video-meta-block:hover,#author-text.yt-simple-endpoint.ytd-comment-renderer:hover,ytd-button-renderer #button.ytd-button-renderer:hover,.yt-simple-endpoint.style-scope.yt-formatted-string:hover,#title.ytd-shelf-renderer:hover,#footer.ytd-guide-renderer #guide-links-primary a:hover:not(:last-child), #footer.ytd-guide-renderer #guide-links-secondary a:hover:not(:last-child),yt-formatted-string.style-brand:hover,#channel-title.ytd-channel-renderer:hover,paper-tab.ytd-c4-tabbed-header-renderer:hover,#link-list-container.ytd-channel-about-metadata-renderer yt-formatted-string.ytd-channel-about-metadata-renderer:hover,#title.ytd-grid-channel-renderer:hover,.content-text.style-scope.ytd-metadata-with-image-row-renderer:hover,.yt-simple-endpoint.style-scope.yt-formatted-string:hover,ytd-search-filter-renderer yt-formatted-string.ytd-search-filter-renderer:hover, #footer.ytd-guide-renderer #guide-links-primary a:hover, #footer.ytd-guide-renderer #guide-links-secondary a:hover, #name.ytd-author-comment-badge-renderer:hover, .title.ytd-mini-channel-renderer:hover, yt-formatted-string[ellipsis-truncate] a.yt-formatted-string:hover
	{
		color: var(--main-color) !important;
		opacity: 1 !important;
	}
  
	/*Permanently colored*/
	#byline.ytd-video-meta-block,#author-text.yt-simple-endpoint.ytd-comment-renderer, #author-text.yt-simple-endpoint.ytd-comment-renderer,#title.ytd-shelf-renderer,yt-formatted-string.style-brand,#link-list-container.ytd-channel-about-metadata-renderer yt-formatted-string.ytd-channel-about-metadata-renderer, yt-formatted-string[ellipsis-truncate] a.yt-formatted-string
	{
		color: var(--main-color) !important;
		opacity: 0.9 !important;
		text-decoration: none  !important;
		text-shadow: none !important;
	}
	
	/*Title hover*/
	#items.ytd-grid-renderer > ytd-grid-video-renderer.ytd-grid-renderer:hover #video-title.yt-simple-endpoint.ytd-grid-video-renderer,#dismissable.ytd-compact-video-renderer:hover h3.ytd-compact-video-renderer,#content.ytd-playlist-video-renderer:hover #video-title.ytd-playlist-video-renderer,ytd-playlist-panel-video-renderer:hover #video-title.ytd-playlist-panel-video-renderer,ytd-playlist-panel-video-renderer:hover #index.ytd-playlist-panel-video-renderer,#items.yt-horizontal-list-renderer > .yt-horizontal-list-renderer:hover #video-title.yt-simple-endpoint.ytd-grid-video-renderer,ytd-notification-renderer:hover .text.ytd-notification-renderer,ytd-grid-playlist-renderer:hover #video-title.ytd-grid-playlist-renderer,#dismissable.ytd-video-renderer:hover #video-title.ytd-video-renderer,ytd-channel-renderer:hover #channel-title.ytd-channel-renderer, ytd-grid-channel-renderer:hover #title.ytd-grid-channel-renderer
	{
		color: var(--main-color) !important;
	}
	/*Title hover in menus*/
 	ytd-guide-entry-renderer:hover .title.ytd-guide-entry-renderer,ytd-guide-entry-renderer:hover .guide-icon.ytd-guide-entry-renderer,ytd-menu-service-item-renderer:hover yt-formatted-string.ytd-menu-service-item-renderer,ytd-compact-link-renderer:hover #label.ytd-compact-link-renderer,ytd-compact-link-renderer:hover yt-icon.ytd-compact-link-renderer,paper-item:hover .item.yt-dropdown-menu,#label.yt-dropdown-menu:hover #icon-label.yt-dropdown-menu,yt-dropdown-menu:hover #label-text.yt-dropdown-menu, ytd-menu-navigation-item-renderer:hover yt-formatted-string.ytd-menu-navigation-item-renderer,ytd-playlist-add-to-option-renderer:hover #label.ytd-playlist-add-to-option-renderer,ytd-playlist-add-to-option-renderer:hover yt-icon.ytd-playlist-add-to-option-renderer, paper-item.ytd-account-settings:hover .label.ytd-account-settings, paper-item.ytd-account-settings:hover .style-scope.ytd-account-settings, paper-item.style-scope:nth-child(7):hover, paper-item.ytd-account-settings:hover, #more.ytd-vertical-list-renderer yt-formatted-string.ytd-vertical-list-renderer:hover, #items.yt-multi-page-menu-section-renderer > .yt-multi-page-menu-section-renderer:hover, #items.yt-multi-page-menu-section-renderer > .yt-multi-page-menu-section-renderer:hover yt-icon.ytd-toggle-theme-compact-link-renderer
	{
		color: var(--main-color) !important;
	}
	
	/*Author name*/
	#name.ytd-author-comment-badge-renderer
	{
		color: var(--main-text) !important;
	}
	
	/*Checkbox hover*/
	ytd-playlist-add-to-option-renderer:hover #checkbox.paper-checkbox,#checkboxContainer.paper-checkbox:hover #checkbox.paper-checkbox
	{
		border-color: var(--main-color) !important;
	}
	/*Chekboxes background*/
	#checkbox.checked.paper-checkbox
	{
		background-color: transparent !important;
	}
	
	/*Radio buttons*/
	paper-radio-button[checked] #offRadio.paper-radio-button
	{
		--paper-radio-button-checked-color: var(--main-color) !important;
	}
	#onRadio.paper-radio-button 
	{
		--paper-radio-button-checked-color: var(--main-color) !important;
	}
	#offRadio.paper-radio-button:hover
	{
		border-color:  var(--main-color) !important;
	}
	
	/*Avatars and thumbnails opacity */
	img.yt-img-shadow 
	{
		opacity: 0.9 !important;
	}
	img.yt-img-shadow:hover
	{
		opacity: 1 !important;
	}
	/*Very specific hover for thumbnails*/
	#dismissable.ytd-compact-video-renderer:hover img.yt-img-shadow, #items.yt-horizontal-list-renderer > .yt-horizontal-list-renderer:hover img.yt-img-shadow, #items.ytd-grid-renderer > ytd-grid-video-renderer.ytd-grid-renderer:hover img.yt-img-shadow, ytd-video-renderer.ytd-item-section-renderer:hover img.yt-img-shadow, .style-scope.ytd-channel-featured-content-renderer:hover img.yt-img-shadow, #grid-container.ytd-expanded-shelf-contents-renderer > .ytd-expanded-shelf-contents-renderer:hover img.yt-img-shadow, ytd-playlist-video-renderer:hover img.yt-img-shadow, iron-list:not([grid]) #items.iron-list > *:hover img.yt-img-shadow
	{
		opacity: 1 !important;
	}
	
	/*Video section*/
	/*Video title hover in html5 video*/
  	.html5-video-player a:hover
  	{
 		color: var(--main-text) !important;
		text-shadow: none !important;
  	}

	/* Code takken from https://userstyles.org/styles/95280 */
	/* scrubber button */
	.html5-scrubber-button:hover, .ytp-chrome-controls .ytp-button[aria-pressed]::after, .ytp-scrubber-button:hover, .ytp-swatch-background-color, .ytp-swatch-background-color-secondary
	{
		background: var(--main-color) !important;
	}
	/* progress bar */
	.html5-play-progress, .ytp-play-progress
	{
		background: var(--main-color) !important;
	}
	.ytp-volume-slider-track, .ytp-volume-slider-handle:before
	{
		background: var(--main-color) !important;
		z-index: -117;
	}
	.ytp-settings-button.ytp-hd-quality-badge::after, .ytp-settings-button.ytp-4k-quality-badge::after, .ytp-settings-button.ytp-5k-quality-badge::after, .ytp-settings-button.ytp-8k-quality-badge::after, .ytp-settings-button.ytp-3d-badge::after
	{
		background-color: var(--main-color) !important;
	}
	.ytp-swatch-color
	{
		color: var(--main-color) !important;
	}
	.ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox
	{
		background: var(--main-color) !important;
	}
	.ytp-chrome-controls .ytp-button.ytp-youtube-button:hover:not([aria-disabled="true"]):not([disabled]) .ytp-svg-fill-logo-tube-lozenge
	{
		fill: var(--main-color) !important;
	}
	.ytp-cued-thumbnail-overlay:hover .ytp-large-play-button-bg, .ytp-large-play-button.ytp-touch-device .ytp-large-play-button-bg
	{
		fill: var(--main-color) !important;
	}
	.ytp-large-play-button.ytp-button.ytp-red2:hover, .ytp-cued-thumbnail-overlay:hover .ytp-large-play-button.ytp-button.ytp-red2
	{
		/*background-image: url(https://raw.githubusercontent.com/RaitaroH/YouTube-DeepDark/master/YT_Images/large_play_button_hover_ringo-vfl7vEehF.png) !important;*/
		background-image: url(https://s.ytimg.com/yts/img/large_play_button_ringo-vfljWXIdx.png) !important;
		filter: invert(100%) brightness(300%);
	}
	.resume-playback-progress-bar
	{
		background: var(--main-color) !important;
	}
  	.ytp-chrome-controls .ytp-button[aria-pressed]::after
	{
		background-color: var(--main-color) !important;
	}
	
	/*Added because of this: https://forum.userstyles.org/discussion/53368/solved-fix-this-annoying-youtube-tab-select-bug-thats-been-there-forever#latest*/
	.ytp-keyboard-focus .ytp-progress-bar:focus
	{
		box-shadow: none !important;
	}
	
	/*Video menu - might have issues with lighter colors*/
	.ytp-popup
	{
		background: var(--second-background) !important;
		opacity: .9 !important;
	}
	.ytp-menuitem:hover:not([aria-disabled="true"]) 
	{
		background-color: var(--hover-background) !important;
	}
	/*Text*/
	.iv-branding .iv-branding-context-name, .ytp-menuitem-label, .ytp-menuitem-label-count, .ytp-menuitem-content, .ytp-menu-label-secondary, .ytp-panel-header
	{
		color: var(--main-text) !important;
		text-shadow: none !important;
	}
	
	/*Watch later svg*/
	.style-scope.ytd-thumbnail-overlay-toggle-button-renderer:hover
	{
    		fill: var(--main-color) !important;
	}

	/*Popup for when you hover over the channel avatar in the video*/
	.iv-branding .branding-context-container-inner
	{
		background-color: var(--main-background) !important;
	}
	
  	/*Changing icon for unavailable video*/
  	#img.ytd-player-error-message-renderer 
	{
		display: block !important;
		-moz-box-sizing: border-box !important;
		box-sizing: border-box !important;
		background: url(https://raw.githubusercontent.com/RaitaroH/YouTube-DeepDark/master/YT_Images/404.png) no-repeat !important;
		width: 140px !important;
		height: 100px !important;
		padding-left: 140px !important;
		position: relative !important;
	}
	/*Changing icon for unavailable page (404)*/
	#error-page-hh-illustration 
	{
		display: block !important;
		-moz-box-sizing: border-box !important;
		box-sizing: border-box !important;
		background: url(https://raw.githubusercontent.com/RaitaroH/YouTube-DeepDark/master/YT_Images/404.png) no-repeat !important;
		width: 140px !important;
		height: 100px !important;
		padding-left: 140px !important;
		right: -175px !important;
		position: relative !important;
	}
	/*Some spacing for the logo*/
	#yt-masthead #logo-container 
	{
		margin-right: 20px !important;
	}
	
	/*New logo*/
	ytd-topbar-logo-renderer.style-scope:nth-child(4) > a:nth-child(2) > yt-icon:nth-child(1) > svg:nth-child(1) > g:nth-child(1) > g:nth-child(1) > path:nth-child(1), ytd-topbar-logo-renderer.style-scope:nth-child(2) > a:nth-child(2) > yt-icon:nth-child(1) > svg:nth-child(1) > g:nth-child(1) > g:nth-child(1) > path:nth-child(1)
	{
		fill: var(--main-color) !important;
	}
	/*Logo hover*/
	#logo-icon:hover 
	{
		--yt-swatch-logo-override: var(--main-color) !important;
	}
	
	/*Playlist changes*/
	ytd-playlist-panel-video-renderer:hover 
	{
		background-color: var(--hover-background) !important;
	}

	ytd-playlist-panel-video-renderer[selected] #index.ytd-playlist-panel-video-renderer,#byline.ytd-playlist-panel-video-renderer,.ytp-video-menu-item[aria-checked="true"] .ytp-video-menu-item-now-playing,.ytp-video-menu-item-author 
	{
		color: var(--main-color) !important;
	}

	.header.ytd-playlist-panel-renderer,.playlist-items.ytd-playlist-panel-renderer 
	{
		background-color: var(--second-background) !important;
	}
	
	.ytp-video-menu-item[aria-checked="true"] .ytp-video-menu-item-thumbnail
	{
	border-color: var(--main-color) !important;
	}
	
	#video-title.ytd-playlist-panel-video-renderer
	{
		color: var(--dimer-text) !important;
	}
	
	/*Search bar*/
	ytd-searchbox[mode=legacy][has-focus] #container.ytd-searchbox
	{
		border-color: var(--main-color) !important;
	}
	ytd-searchbox[mode="legacy"] #container.ytd-searchbox:hover
	{
		border: 1px solid var(--main-color) !important;
	}
	/*Icon hover*/
	#search-icon-legacy.ytd-searchbox:hover yt-icon.ytd-searchbox
	{
		color: var(--main-color) !important;
	}
	/*Main backgrounds*/
	.sbsb_a,.sbdd_b
	{
		background: var(--second-background) !important;
		border: none !important;
	}
	/*Text color*/
	.gsfs
	{
		color: var(--dimer-text) !important;
	}
	/*Hover and keyboard select background*/
	.sbsb_c.gsfs:hover,.sbsb_d
	{
		background-color: var(--hover-background) !important;
	}
	/*Keyboard select text color and hover text color*/
	.sbsb_c:hover .sbqs_c,.sbsb_c.gsfs.sbsb_d .sbqs_c
	{
		color: var(--main-color) !important;
	}
	/*Keyboard icon in the search bar*/
	#gs_ok50
	{
		filter: invert(100%);
	}


	/*Search for channel videos*/
 	.unfocused-line.paper-input-container,.focused-line.paper-input-container
	{
   	 	background-color: var(--main-color) !important;
	}
	
	iron-icon:hover
	{
    		fill: var(--main-color) !important;
	}
	#description-text.ytd-video-renderer
	{
		color: var(--dimer-text) !important;
	}
	
	/*Iridium support, former YouTube+*/
	#iridium_settings .iri-settings-button.danger,.active_sidebar
	{
		background-color: var(--main-color) !important;
		border-color: var(--main-color) !important;
	}
	.feature-link
	{
		color: var(--main-color) !important;
	}
	.iri-dark-mode-settings .sidebar_section:hover:not(.active_sidebar)
	{
		background-color: var(--hover-background) !important;
	}
	.sidebar_section
	{
		color: var(--dimer-text) !important;
	}
	.iri-dark-mode-settings #iridium_settings {
		background-color: var(--second-background) !important;
	}
	.iri-dark-mode-settings #iridium_settings_sidebar, .iri-dark-mode-settings #settings_section, .iri-dark-mode-settings #iridium-text-editor
	{
		background-color: var(--main-background) !important;
	}
	.iri-video-count
	{
		color: var(--dimer-text) !important;
		opacity: .7;
	}
	.iri-video-count:hover
	{
		color: var(--main-color) !important;
		opacity: 1 !important;
	}
	.iri-add-to-blacklist:hover svg
	{
		fill: var(--main-color) !important;
	}
	#iri-quick-controls button svg
	{
		fill: var(--dimer-text) !important;
	}
	#iri-quick-controls button[enabled] svg
	{
		fill: var(--main-color) !important;
		opacity: .9;
	}
	#iri-quick-controls button:hover svg, #iri-quick-controls button[enabled]:hover svg
	{
		fill: var(--main-color) !important;
		opacity: 1 !important;
	}
	
	/*Comments*/
	/*Show more stuff*/
	.style-scope.ytd-comment-replies-renderer:hover,.more-button.style-scope.ytd-comment-renderer:hover,.more-button.style-scope.ytd-video-secondary-info-renderer:hover, .less-button.ytd-video-secondary-info-renderer:hover
	{
		color: var(--main-color) !important;
	}
	
	/*Show more videos*/
	yt-next-continuation.ytd-watch-next-secondary-results-renderer
	{
		--paper-button_-_background-color: transparent !important;
		--paper-button_-_color: var(--dimer-text) !important;
	}
	.style-scope.yt-next-continuation:hover
	{
		background-color: transparent !important;
		color: var(--main-color) !important;
	}
	yt-formatted-string.ytd-expanded-shelf-contents-renderer
	{
		color: var(--dimer-text) !important;
	}
	#published-time-text.ytd-comment-renderer
	{
		--yt-endpoint-color: var(--dimer-text) !important;
		opacity: .7;
	}
	yt-formatted-string.ytd-expanded-shelf-contents-renderer:hover
	{
		color: var(--main-color) !important;
	}

	/*Heart icon in comments*/
	#hearted-border.ytd-creator-heart-renderer,#hearted.ytd-creator-heart-renderer
	{
		color: var(--main-color) !important;
	}
	
	/*Chat*/
	.yt-live-chat-text-input-field-renderer-0 #focused.yt-live-chat-text-input-field-renderer
	{
		background-color: var(--main-color) !important;
	}
	/*Owner name and badge in chat*/
	.yt-live-chat-text-message-renderer-0 #author-name.yt-live-chat-text-message-renderer[type="owner"],.yt-live-chat-author-badge-renderer-0[type="owner"]
	{
		color: var(--main-color) !important;
	}
	/*Go down button in chat*/
	.yt-live-chat-item-list-renderer-1 paper-icon-button.yt-live-chat-item-list-renderer
	{
		background-color: var(--hover-background) !important;
	}

	
	/*Chat again because youtube has nothing better to do. YouTube, WHY?!*/
	.yt-live-chat-header-renderer-1, .yt-live-chat-message-input-renderer-1, .yt-live-chat-header-renderer-0, .yt-live-chat-message-input-renderer-0, .paper-menu-0, .paper-menu-1, .yt-live-chat-ticker-renderer-0,.yt-live-chat-ticker-renderer-1
	{
		background-color: var(--second-background) !important;
	}
	.yt-live-chat-text-message-renderer-1, .yt-live-chat-text-message-renderer-0, .yt-live-chat-item-list-renderer-1 #item-scroller.yt-live-chat-item-list-renderer, .yt-live-chat-item-list-renderer-0 #item-scroller.yt-live-chat-item-list-renderer
	{
		background-color: var(--main-background) !important;
	}
	.yt-live-chat-text-message-renderer-1:hover, .yt-live-chat-text-message-renderer-0:hover, .ytd-menu-service-item-renderer-0:hover, .ytd-menu-navigation-item-renderer-0 a.ytd-menu-navigation-item-renderer:hover, .ytd-menu-navigation-item-renderer-1 a.ytd-menu-navigation-item-renderer:hover, .yt-emoji-picker-renderer-0 #search-panel.yt-emoji-picker-renderer, .yt-emoji-picker-renderer-1 #search-panel.yt-emoji-picker-renderer, .yt-emoji-picker-category-renderer-0 yt-formatted-string.yt-emoji-picker-category-renderer, .yt-emoji-picker-category-renderer-1 yt-formatted-string.yt-emoji-picker-category-renderer
	{
		background-color: var(--hover-background) !important;
	}
	.yt-live-chat-header-renderer-1, .yt-live-chat-renderer-1, .yt-live-chat-message-input-renderer-1 #author-name.yt-live-chat-message-input-renderer, .yt-live-chat-text-input-field-renderer-1 #input.yt-live-chat-text-input-field-renderer, .yt-live-chat-header-renderer-0, .yt-live-chat-renderer-0, .yt-live-chat-message-input-renderer-0 #author-name.yt-live-chat-message-input-renderer, .yt-live-chat-text-input-field-renderer-0 #input.yt-live-chat-text-input-field-renderer, .yt-live-chat-text-message-renderer-0 #message.yt-live-chat-text-message-renderer, .yt-live-chat-text-message-renderer-1 #message.yt-live-chat-text-message-renderer, .yt-live-chat-message-input-renderer-0 #count.yt-live-chat-message-input-renderer, .yt-live-chat-message-input-renderer-1 #count.yt-live-chat-message-input-renderer, .yt-live-chat-renderer-1, .yt-live-chat-renderer-0, .ytd-menu-navigation-item-renderer-0 yt-formatted-string.ytd-menu-navigation-item-renderer, .ytd-menu-navigation-item-renderer-1 yt-formatted-string.ytd-menu-navigation-item-renderer, .ytd-menu-service-item-renderer-0 yt-formatted-string.ytd-menu-service-item-renderer, .ytd-menu-service-item-renderer-1 yt-formatted-string.ytd-menu-service-item-renderer, .paper-menu-0, .paper-menu-1, .yt-emoji-picker-renderer-0 #search-panel.yt-emoji-picker-renderer, .yt-emoji-picker-renderer-1 #search-panel.yt-emoji-picker-renderer, .paper-input-container-0 .input-content.paper-input-container input, .paper-input-container-0 .input-content.paper-input-container textarea, .paper-input-container-0 .input-content.paper-input-container iron-autogrow-textarea, .paper-input-container-0 .input-content.paper-input-container .paper-input-input, .paper-input-container-1 .input-content.paper-input-container input, .paper-input-container-1 .input-content.paper-input-container textarea, .paper-input-container-1 .input-content.paper-input-container iron-autogrow-textarea, .paper-input-container-1 .input-content.paper-input-container .paper-input-input, .yt-emoji-picker-category-renderer-0 yt-formatted-string.yt-emoji-picker-category-renderer, .yt-emoji-picker-category-renderer-1 yt-formatted-string.yt-emoji-picker-category-renderer
	{
		color: var(--main-text) !important;
	}
	.yt-live-chat-text-input-field-renderer-0 #label.yt-live-chat-text-input-field-renderer, .yt-live-chat-text-input-field-renderer-1 #label.yt-live-chat-text-input-field-renderer, .yt-live-chat-text-message-renderer-0 #timestamp.yt-live-chat-text-message-renderer, .yt-live-chat-text-message-renderer-1 #timestamp.yt-live-chat-text-message-renderer
	{
		color: var(--dimer-text) !important;
	}
	.iron-icon-0, .ytd-button-renderer-0 #button.ytd-button-renderer
	{
		fill: var(--main-text) !important;
		color: var(--main-text) !important;
	}
	.yt-live-chat-text-message-renderer-0 #author-name.yt-live-chat-text-message-renderer, .yt-live-chat-text-message-renderer-1 #author-name.yt-live-chat-text-message-renderer
	{
		color: var(--main-color) !important;
	}
	.yt-live-chat-text-message-renderer-0 #menu.yt-live-chat-text-message-renderer, .yt-live-chat-text-message-renderer-1 #menu.yt-live-chat-text-message-renderer
	{
		background: transparent !important;
	}
	/*Sign in chat*/
	.yt-live-chat-message-renderer-0, .yt-live-chat-message-renderer-1
	{
		color: var(--main-text) !important;
		background-color: var(--second-background) !important;
	}
	.yt-live-chat-message-renderer-0 #subtext.yt-live-chat-message-renderer, .yt-live-chat-message-renderer-1 #subtext.yt-live-chat-message-renderer
	{
		color: var(--dimer-text) !important;
	}
	.ytd-button-renderer-1.style-dark[is-paper-button]:hover, .ytd-button-renderer-0.style-dark[is-paper-button]:hover
	{
		background-color: var(--hover-background) !important;
	}
	.ytd-button-renderer-1.style-dark[is-paper-button], .ytd-button-renderer-0.style-dark[is-paper-button]
	{
		background-color: var(--main-color) !important;
		color: var(--main-text) !important;
	}	
	
	/*Resizing the top bar and it's spacing to get some extra vertical space*/
	/*
	ytd-page-manager 
	{
		margin-top: 30px !important;
	}
	#container.ytd-masthead
	{
		height: 40px !important;
	}
	*/
	
	/*Notification stuff*/
	#notification-count.ytd-notification-topbar-button-renderer
	{
		background-color: var(--main-color) !important;
		box-shadow: -1px 1px var(--main-background);
	}
 	#button:hover 
  	{
  		color: var(--main-color) !important;
  	}
	ytd-notification-renderer.unseen #new.ytd-notification-renderer
	{
		background-color: var(--main-color) !important;
	}
	.metadata.ytd-notification-renderer
	{
		color: var(--dimer-text) !important;
		opacity: .7;
	}
	.metadata.ytd-notification-renderer:hover
	{
		color: var(--main-color) !important;
		opacity: 1 !important;
	}
	
	/*Confirmantion popup*/
	paper-toast 
	{
		background-color: var(--hover-background) !important;
		color: var(--main-text) !important;
	}

	/*Cards*/
	.iv-card-content,.ytp-ce-expanding-overlay-background,.ytp-cards-teaser .ytp-cards-teaser-text
	{
		background-color: var(--main-background) !important;
	}
	.ytp-cards-teaser .ytp-cards-teaser-box,.iv-card-image
	{
		border: 0px !important;
	}
	.iv-card-content > :first-child,.html5-video-player a,.iv-card h2,.ytp-cards-teaser .ytp-cards-teaser-text
	{
		color: var(--main-text) !important;
	}
	.iv-card:hover .iv-card-primary-link,.ytp-ce-website-title
	{
		color: var(--main-color) !important;
	}
	.ytp-ce-element:hover 
	{
		border-color: var(--main-color) !important;
	}
	.ytp-ce-channel-title.ytp-ce-link
	{
		color: var(--main-color) !important;
		opacity: 0.9 !important;
	}
	.ytp-ce-channel-title.ytp-ce-link:hover,.ytp-cards-teaser .ytp-cards-teaser-text:hover
	{
		color: var(--main-color) !important;
		opacity: 1 !important;
	}
	.ytp-ce-channel-metadata.yt-ui-ellipsis.yt-ui-ellipsis-3
	{
		background: transparent;
		color: var(--dimer-text) !important;
	}
	/*cards border color*/
	.iv-card-message
	{
		border-bottom: 1px solid var(--main-color) !important;
	}
	
	/*Account menu header*/
	ytd-active-account-header-renderer:hover 
	{
		background-color: var(--hover-background) !important;
	}
	
	/*Wathced videos dark background*/
	ytd-thumbnail-overlay-playback-status-renderer
	{
		background-color: hsla(0, 0%, 6.7%, .4) !important;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		align-items: left;
		justify-content: left;
	}
	ytd-thumbnail-overlay-playback-status-renderer:hover
	{
		background-color: hsla(0, 0%, 6.7%, .2) !important;
	}
	
	/*Live background color*/
	ytd-thumbnail-overlay-time-status-renderer[overlay-style="LIVE"] 
	{
    		background-color: var(--main-color) !important;
	}
	

	/*Recolored sidepane icons, menu icons and filter button*/
	.guide-icon.ytd-guide-entry-renderer, paper-button.ytd-toggle-button-renderer, yt-icon.ytd-compact-link-renderer, yt-icon.ytd-toggle-theme-compact-link-renderer
	{
		color: var(--dimer-text) !important;
	}
	
	/*Autoplay text*/
	#autoplay.ytd-compact-autoplay-renderer
	{
		color: var(--dimer-text) !important;
		opacity: .7;
	}
	
	/*Links in video description*/
	.description.ytd-video-secondary-info-renderer a
	{
		color: var(--main-color) !important;
		opacity: .9;
	}
	
	/*Author name*/
	#owner-name.ytd-video-owner-renderer
	{
		opacity: .9;
	}
	#owner-name.ytd-video-owner-renderer:hover
	{
		opacity: 1 !important;	
	}
	
	/*Set a memento*/
	ytd-toggle-button-renderer.style-compact-gray[is-paper-button]
	{
		background-color: var(--second-background) !important;
		color: var(--dimer-text) !important;
	}
	
	/*Series name*/
	.super-title.ytd-video-primary-info-renderer a
	{
		color: var(--dimer-text) !important;
		opacity: .7;
	}
}
