@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("youtube.com") {
 	
/*For the new Material Design for YouTube*/
/*Theme made by RaitaroH @https://github.com/RaitaroH/YouTube-DeepDark*/

/*1.4.6*/

	/*Main color variables*/
	:root
	{
		/*User colors*/
		--main-color: /*[[mainColor]]*/;
		--main-background: /*[[mainBackground]]*/;
		--second-background: /*[[secondBackground]]*/;
		--hover-background: /*[[hoverBackground]]*/;
		--main-text: /*[[mainText]]*/;
		--dimer-text: /*[[dimerText]]*/;
		
		/*DeepDark colors*/
		/*
		--main-color: #00adee;
		--main-background: #111111;
		--second-background: #232323; 
		--hover-background: #3A3A3A;
		--main-text: #eff0f1;
		--dimer-text: #CCCCCC;
		*/
		
		/*KDE colors*/
		/*
		--main-color: #3DAEE9;
		--main-background: #232629;
		--second-background: #2a2e32;
		--hover-background: #31363b;
		--main-text: #eff0f1;
		--dimer-text: #bdc3c7;
		*/
				
		/*Vertex Dark colors*/
		/*
		--main-color: #4080fb;
		--main-background: #2B2B2C;
		--second-background: #353638;
		--hover-background: #353638;
		--main-text: #F3F3F5;
		--dimer-text: #AEAFB0;
		*/
		
		/*Arc Dark colors*/
		/*
		--main-color: #5294E2;
		--main-background: #343944;
		--second-background: #383C4A;
		--hover-background: #414A59;
		--main-text: #C1C8D1;
		--dimer-text: #B3BAC5;
		*/
		
		/*Firefox Dark colors*/
		/*
		--main-color: #5675B9;
		--main-background: #272B35;
		--second-background: #181D20;
		--hover-background: #353A44;
		--main-text: #E3EEF9;
		--dimer-text: #606376;
		*/
	}
	
	/*Variable changes*/
	* 
	{
		--yt-primary-color: hsla(0, 100%, 100%, .88);
		--yt-primary-text-color: var(--main-text) !important;
		--yt-hovered-text-color: hsla(0, 100%, 100%, .74);
		--yt-secondary-text-color: hsla(0, 100%, 100%, .5);
		--yt-disabled-text-color: hsla(0, 100%, 100%, .26);
		--yt-placeholder-text-color: hsla(0, 100%, 100%, .5);
		--yt-border-color: hsla(0, 100%, 100%, .08);
		--yt-searchbox-border-color: hsla(0, 0%, 53.3%, .2);
		--yt-searchbox-legacy-border-color: hsl(0, 0%, 18.82%);
		--yt-searchbox-legacy-border-shadow-color: hsla(0, 0%, 0%, 0);
		--yt-searchbox-legacy-button-color: hsla(0, 0%, 100%, .08);
		--yt-searchbox-legacy-button-border-color: hsl(0, 0%, 18.82%);
		--yt-searchbox-legacy-button-focus-color: hsla(0, 0%, 100%, .08);
		--yt-searchbox-legacy-button-hover-color: hsla(0, 0%, 100%, .08);
		--yt-searchbox-legacy-button-hover-border-color: hsl(0, 0%, 18.82%);
		--yt-searchbox-legacy-button-icon-color: hsla(0, 100%, 100%, .5);
		--yt-commentbox-border-inactive: hsla(0, 100%, 100%, .5);
		--yt-commentbox-border-active: hsla(0, 100%, 100%, .88);
		--yt-paper-button-ink-color: hsla(0, 0%, 100%, .2);
		--yt-icon-color: hsla(0, 100%, 100%, .5);
		--yt-icon-hover-color: var(--main-color) !important;
		--yt-icon-active-color: var(--main-color) !important;
		--yt-icon-disabled-color: hsla(0, 100%, 100%, .26);
		--yt-endpoint-color: hsl(0, 0%, 53.3%);
		--yt-expand-color: hsla(0, 0%, 100%, .6);
		--yt-metadata-color: hsl(0, 0%, 53.3%);
		--yt-channel-owner: hsla(0, 100%, 100%, .88);
		--yt-autoplay-toggle: hsl(0, 0%, 93.3%);
		--yt-playlist-background-header: hsla(0, 0%, 53.3%, .4);
		--yt-playlist-background-item: hsla(0, 0%, 53.3%, .2);
		--yt-playlist-title-text: hsla(0, 100%, 100%, .88);
		--yt-playlist-message-text: hsl(0, 0%, 93.3%);
		--yt-subscribe-button-text-color: hsla(0, 100%, 100%, .88);
		--yt-brand-color: hsla(0, 100%, 100%, .88);
		--yt-button-text-color: hsla(0, 100%, 100%, .5);
		--yt-button-payment-text-color: hsla(0, 100%, 100%, .88);
		--yt-video-publish-date-color: hsla(0, 0%, 100%, .6);
		--yt-vat-notice-text: hsla(0, 0%, 100%, .6);
		--yt-copyright-text: hsla(0, 0%, 100%, .6);
		--yt-guide-entry-hover-background-color: var(--hover-background) !important;
		--yt-survey-button-color: var(--yt-primary-text-color) !important;
		--yt-thumbnail-placeholder-color: hsl(0, 0%, 16%);
		--yt-transcript-cue-hover-background-color: hsla(0, 0%, 53.3%, .4);
		--yt-transcript-toolbar-background-color: hsla(0, 0%, 53.3%, .4);
		--yt-transcript-toolbar-text: hsla(0, 100%, 100%, .88);
		--yt-primary-disabled-button-text-color: hsla(0, 0%, 100%, .2);
		--yt-badge-background: hsla(0, 0%, 100%, .4);
		--yt-badge-disabled-color: hsla(0, 0%, 100%, .4);
		--yt-collection-badge-color: hsla(0, 0%, 100%, .8);
		--yt-owner-badge-color: hsla(0, 0%, 100%, .4);
		--yt-simple-badge-color: hsla(0, 0%, 100%, .6);
		--yt-ad-badge-text-color: hsl(0, 0%, 7%);
		--paper-menu-background-color: var(--second-background) !important;
		--paper-menu-color: var(--main-text) !important;
		--primary-text-color: var(--main-text) !important;
		--yt-simple-menu-header-background: var(--hover-background) !important;
		--yt-item-section-header-color: hsl(0, 0%, 93.3%);
		--yt-menu-hover-backgound-color: hsla(0, 100%, 100%, .08);
		--yt-menu-focus-background-color: hsla(0, 100%, 100%, .26);
		--yt-app-background: var(--main-background) !important;
		--yt-main-app-background: var(--main-background) !important;
		--yt-main-app-background-tmp: var(--main-background) !important;
		--yt-guide-background: var(--main-background) !important;
		--yt-dialog-background: var(--second-background) !important;
		--yt-searchbox-background: var(--main-background) !important;
		--yt-channel-header-background:  var(--second-background) !important;
		--yt-playlist-sidebar-background: var(--hover-background) !important;
		--yt-transcript-background: hsl(0, 0%, 11%);
		--yt-watch-card-secondary-text-color: hsl(0, 0%, 93.3%);
		--yt-watch-card-album-header-background: hsl(0, 0%, 6.7%);
		--yt-comment-text-color: hsla(0, 100%, 100%, .88);
		--yt-comment-metadata-text-color: hsl(0, 0%, 53.3%);
		--yt-moderation-panel-background: hsla(0, 0%, 11%, .8);
		--yt-moderation-panel-hover: hsl(0, 0%, 11%);
		--yt-moderation-panel-comment-text: hsla(0, 100%, 100%, .5);
		--yt-moderation-panel-comment-metadata-text: hsla(0, 100%, 100%, .5);
		--yt-moderation-icon-color: hsla(0, 100%, 100%, .5);
		--yt-moderation-icon-hover-color: hsla(0, 100%, 100%, .74);
		--yt-backstage-metadata-text-color: hsla(0, 100%, 100%, .88);
		--yt-backstage-video-link-background-color: hsl(0, 0%, 14%);
		--yt-backstage-image-alert-color: hsla(0, 100%, 100%, .88);
		--yt-shopping-product-info: hsla(0, 100%, 100%, .74);
		--yt-live-chat-action-panel-background-color: #282828;
		--yt-live-chat-action-panel-background-color-transparent: rgba(40, 40, 40, .8);
		--yt-live-chat-primary-text-color: hsl(0, 0%, 100%);
		--yt-live-chat-secondary-text-color: rgba(255, 255, 255, 0.7);
		--yt-live-chat-tertiary-text-color: rgba(255, 255, 255, 0.54);
		--yt-swatch-primary-darker: rgb(32,32,32);
		--yt-swatch-primary: var(--hover-background) !important;
		--yt-swatch-text: rgb(255,255,255);
		--yt-swatch-input-text: rgba(255,255,255,1);
		--yt-swatch-textbox-bg: rgba(19,19,19,1);
		--yt-swatch-icon-color: rgba(136,136,136,1);
		--yt-swatch-important-text: rgb(255,255,255);
		--yt-swatch-logo-override: rgb(255,255,255);
		--yt-lightsource-section1-color: var(--yt-channel-header-background);
		--yt-lightsource-primary-title-color: var(--yt-primary-text-color);
		--yt-lightsource-secondary-title-color: var(--yt-metadata-color);
		--paper-tabs-selection-bar-color: var(--yt-lightsource-secondary-title-color);
		outline-color: var(--main-color) !important;
	}
	
	/*Background for the entire page*/
	html
	{
		background-color: var(--main-background) !important;
	}
	
	/*Changed text highlight*/
	::selection
	{
		background: var(--main-color) !important;
		color: var(--main-text) !important;
	}
	::-moz-selection
	{
		background: var(--main-color) !important;
		color: var(--main-text) !important;
	}
	
	/*Outline for comments*/
	#content-text.ytd-comment-renderer
	{
    		outline: none !important;
	}

	/*Backgrounds*/
	#like-bar.ytd-sentiment-bar-renderer,#progress.ytd-thumbnail-overlay-resume-playback-renderer,#selectionBar.paper-tabs
	{
		background-color: var(--main-color) !important;
	}
	
	/*For the outline around the channel name*/
	.style-scope.ytd-comment-renderer.creator
	{
		background-color: var(--main-color) !important;
	}
	.style-scope.ytd-comment-renderer.creator:hover
	{
		background-color: var(--hover-background) !important;
	}
	#name:hover
	{
		color: var(--main-color) !important;
	}
	
	app-drawer.ytd-app:not([persistent]) #header.ytd-app
	{
		border-color: var(--main-color) !important;
	}
	
	/*Progress bar*/
	#progress
	{
		background-color: var(--main-color) !important;
		border-color: var(--main-color) !important;
	}
	
	/*Buttons*/
	.ytd-menu-renderer[button-renderer]:hover yt-icon.ytd-menu-renderer, #button.ytd-menu-renderer:hover yt-icon.ytd-menu-renderer,#icon-label.yt-dropdown-menu:hover,ytd-topbar-menu-button-renderer #button.ytd-topbar-menu-button-renderer:hover,yt-formatted-string.ytd-button-renderer:nth-child(2):hover,ytd-guide-entry-renderer[active] .guide-icon.ytd-guide-entry-renderer,ytd-toggle-button-renderer #button.ytd-toggle-button-renderer:hover,button.style-default-active,ytd-button-renderer.style-scope:nth-child(3):hover yt-formatted-string.ytd-button-renderer:nth-child(2), ytd-toggle-button-renderer.style-text[is-icon-button]:hover,ytd-button-renderer.style-default[is-icon-button]:hover, ytd-button-renderer.force-icon-button a.ytd-button-renderer:hover ytd-button-renderer #button.ytd-button-renderer
	{
		color: var(--main-color) !important;
	}
	
	/*Button hover*/
	#guide-button.ytd-masthead:hover #guide-icon.ytd-masthead,#guide-button.ytd-app:hover #guide-icon.ytd-app,#label.yt-dropdown-menu:hover #label-icon.yt-dropdown-menu,button.ytd-expandable-tab-renderer:hover .style-scope.ytd-expandable-tab-renderer
	{
   		fill: var(--main-color) !important;
	}
	
	/*Subscribe button and comment button*/
	yt-formatted-string.style-destructive,paper-button.ytd-subscribe-button-renderer,paper-button.ytd-subscribe-button-renderer[subscribed],.deemphasize.style-scope.yt-formatted-string
	{
		color: var(--main-text) !important;
	}
	ytd-button-renderer.style-destructive[is-paper-button],paper-button.ytd-subscribe-button-renderer,.ytp-sb-subscribe, a.ytp-sb-subscribe
	{
		background-color: var(--main-color) !important;
		opacity: 0.9 !important;
	}
	ytd-button-renderer.style-destructive[is-paper-button]:hover,paper-button.ytd-subscribe-button-renderer:hover,paper-button.ytd-subscribe-button-renderer[subscribed]:hover,.ytp-sb-subscribe, a.ytp-sb-subscribe:hover,.ytp-sb-unsubscribe:hover
	{
		opacity: 1 !important;
	}
	paper-button.ytd-subscribe-button-renderer[subscribed],.ytp-sb-unsubscribe
	{
		background-color: var(--second-background) !important;
		color: var(--main-text) !important;
		opacity: 0.9 !important;
	}
	ytd-button-renderer.style-primary[is-paper-button]
	{
		background-color: transparent !important;
	}
	
	/*Edit button in channel page*/
	#edit-buttons.ytd-c4-tabbed-header-renderer ytd-button-renderer.ytd-c4-tabbed-header-renderer
	{
		background-color: transparent !important;
	}
	
	/*Toggle button to play next*/
	paper-toggle-button[checked]:not([disabled]) .toggle-bar.paper-toggle-button
	{
		background-color: var(--main-color) !important;
		opacity: 1 !important;
	}
	
	/*Badges*/
	.badge-style-type-simple.ytd-badge-supported-renderer,.badge-style-type-disabled.ytd-badge-supported-renderer, yt-icon.ytd-badge-supported-renderer
	{
		background: transparent !important;
		color: var(--main-color) !important;
		padding-left: 0px !important;
		opacity: .7 !important;
	}
	/*Trending badge*/
	.badge-style-type-featured.ytd-badge-supported-renderer
	{
		background: var(--main-color) !important;
	}
 	
	/*Hover section*/
	#video-title:hover,#byline.ytd-video-meta-block:hover,#author-text.yt-simple-endpoint.ytd-comment-renderer:hover,ytd-button-renderer #button.ytd-button-renderer:hover,.yt-simple-endpoint.style-scope.yt-formatted-string:hover,#title.ytd-shelf-renderer:hover,#footer.ytd-guide-renderer #guide-links-primary a:hover:not(:last-child), #footer.ytd-guide-renderer #guide-links-secondary a:hover:not(:last-child),yt-formatted-string.style-brand:hover,#channel-title.ytd-channel-renderer:hover,paper-tab.ytd-c4-tabbed-header-renderer:hover,#link-list-container.ytd-channel-about-metadata-renderer yt-formatted-string.ytd-channel-about-metadata-renderer:hover,#title.ytd-grid-channel-renderer:hover,.content-text.style-scope.ytd-metadata-with-image-row-renderer:hover,.yt-simple-endpoint.style-scope.yt-formatted-string:hover
	{
		color: var(--main-color) !important;
		opacity: 1 !important;
	}
  
	/*Permanently colored*/
	#byline.ytd-video-meta-block,#author-text.yt-simple-endpoint.ytd-comment-renderer, #author-text.yt-simple-endpoint.ytd-comment-renderer,#title.ytd-shelf-renderer,yt-formatted-string.style-brand,#link-list-container.ytd-channel-about-metadata-renderer yt-formatted-string.ytd-channel-about-metadata-renderer,.yt-simple-endpoint.style-scope.yt-formatted-string
	{
		color: var(--main-color) !important;
		opacity: 0.9 !important;
		text-decoration: none  !important;
		text-shadow: none !important;
	}
	
	/*Title hover*/
	#items.ytd-grid-renderer > ytd-grid-video-renderer.ytd-grid-renderer:hover #video-title.yt-simple-endpoint.ytd-grid-video-renderer,#dismissable.ytd-compact-video-renderer:hover h3.ytd-compact-video-renderer,#content.ytd-playlist-video-renderer:hover #video-title.ytd-playlist-video-renderer,ytd-playlist-panel-video-renderer:hover #video-title.ytd-playlist-panel-video-renderer,ytd-playlist-panel-video-renderer:hover #index.ytd-playlist-panel-video-renderer,#items.yt-horizontal-list-renderer > .yt-horizontal-list-renderer:hover #video-title.yt-simple-endpoint.ytd-grid-video-renderer,ytd-notification-renderer:hover .text.ytd-notification-renderer,ytd-grid-playlist-renderer:hover #video-title.ytd-grid-playlist-renderer,#dismissable.ytd-video-renderer:hover #video-title.ytd-video-renderer,ytd-channel-renderer:hover #channel-title.ytd-channel-renderer
	{
		color: var(--main-color) !important;
	}
	/*Title hover in menus*/
 	ytd-guide-entry-renderer:hover .title.ytd-guide-entry-renderer,ytd-guide-entry-renderer:hover .guide-icon.ytd-guide-entry-renderer,ytd-menu-service-item-renderer:hover yt-formatted-string.ytd-menu-service-item-renderer,ytd-compact-link-renderer:hover #label.ytd-compact-link-renderer,ytd-compact-link-renderer:hover yt-icon.ytd-compact-link-renderer,paper-item:hover .item.yt-dropdown-menu,#label.yt-dropdown-menu:hover #icon-label.yt-dropdown-menu,yt-dropdown-menu:hover #label-text.yt-dropdown-menu
	{
		color: var(--main-color) !important;
	}
	
	/*Avatars and thumbnails opacity */
	img.yt-img-shadow 
	{
		opacity: 0.9 !important;
	}
	img.yt-img-shadow:hover
	{
		opacity: 1 !important;
	}
	
	/*Video section*/
	/*Video title hover in html5 video*/
  	.html5-video-player a:hover
  	{
 		color: var(--main-text) !important;
		text-shadow: none !important;
  	}

	/* Code takken from https://userstyles.org/styles/95280 */
	/* scrubber button */
	.html5-scrubber-button:hover, .ytp-chrome-controls .ytp-button[aria-pressed]::after, .ytp-scrubber-button:hover, .ytp-swatch-background-color, .ytp-swatch-background-color-secondary
	{
		background: var(--main-color) !important;
	}
	/* progress bar */
	.html5-play-progress, .ytp-play-progress
	{
		background: var(--main-color) !important;
	}

	.ytp-volume-slider-track, .ytp-volume-slider-handle:before
	{
		background: var(--main-color) !important;
		z-index: -117;
	}

	.ytp-settings-button.ytp-hd-quality-badge::after, .ytp-settings-button.ytp-4k-quality-badge::after, .ytp-settings-button.ytp-5k-quality-badge::after, .ytp-settings-button.ytp-8k-quality-badge::after, .ytp-settings-button.ytp-3d-badge::after
	{
		background-color: var(--main-color) !important;
	}

	.ytp-swatch-color
	{
		color: var(--main-color) !important;
	}

	.ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox
	{
		background: var(--main-color) !important;
	}

	.ytp-chrome-controls .ytp-button.ytp-youtube-button:hover:not([aria-disabled="true"]):not([disabled]) .ytp-svg-fill-logo-tube-lozenge
	{
		fill: var(--main-color) !important;
	}

	.ytp-cued-thumbnail-overlay:hover .ytp-large-play-button-bg, .ytp-large-play-button.ytp-touch-device .ytp-large-play-button-bg
	{
		fill: var(--main-color) !important;
	}
	/*Added because of this: https://forum.userstyles.org/discussion/53368/solved-fix-this-annoying-youtube-tab-select-bug-thats-been-there-forever#latest*/
	.ytp-keyboard-focus .ytp-progress-bar:focus
	{
		box-shadow: none !important;
	}
	
  	/*Changing icon for unavailable video*/
  	#img.ytd-player-error-message-renderer 
	{
		display: block !important;
		-moz-box-sizing: border-box !important;
		box-sizing: border-box !important;
		background: url(https://i.imgur.com/2F3NvUl.png) no-repeat !important;
		width: 140px !important;
		height: 100px !important;
		padding-left: 140px !important;
		position: relative !important;
	}
	/*Changing icon for unavailable page (404)*/
	#error-page-hh-illustration 
	{
		display: block !important;
		-moz-box-sizing: border-box !important;
		box-sizing: border-box !important;
		background: url(https://i.imgur.com/2F3NvUl.png) no-repeat !important;
		width: 140px !important;
		height: 100px !important;
		padding-left: 140px !important;
		right: -175px !important;
		position: relative !important;
	}
	/*Some spacing for the logo*/
	#yt-masthead #logo-container 
	{
		margin-right: 20px !important;
	}
	
	/*Playlist changes*/
	ytd-playlist-panel-video-renderer:hover 
	{
		background-color: var(--hover-background) !important;
	}

	ytd-playlist-panel-video-renderer[selected] #index.ytd-playlist-panel-video-renderer,#byline.ytd-playlist-panel-video-renderer,.ytp-video-menu-item[aria-checked="true"] .ytp-video-menu-item-now-playing,.ytp-video-menu-item-author 
	{
		color: var(--main-color) !important;
	}

	.header.ytd-playlist-panel-renderer,.playlist-items.ytd-playlist-panel-renderer 
	{
		background-color: var(--second-background) !important;
	}
	
	.ytp-video-menu-item[aria-checked="true"] .ytp-video-menu-item-thumbnail
	{
	border-color: var(--main-color) !important;
	}
	
	#video-title.ytd-playlist-panel-video-renderer
	{
		color: var(--dimer-text) !important;
	}
	
	/*Search bar*/
	ytd-searchbox[mode=legacy][has-focus] #container.ytd-searchbox
	{
		border-color: var(--main-color) !important;
	}

	/*Search for channel videos*/
 	.unfocused-line.paper-input-container,.focused-line.paper-input-container
	{
   	 	background-color: var(--main-color) !important;
	}
	
	iron-icon:hover
	{
    		fill: var(--main-color) !important;
	}
	
	/*Iridium support, former YouTube+*/
	#iridium_settings .iri-settings-button.danger,.active_sidebar
	{
		background-color: var(--main-color) !important;
		border-color: var(--main-color) !important;
	}
	.feature-link
	{
		color: var(--main-color) !important;
	}
	.iri-dark-mode-settings .sidebar_section:hover:not(.active_sidebar)
	{
		background-color: var(--hover-background) !important;
	}
	.sidebar_section
	{
		color: var(--dimer-text) !important;
	}
	
	/*Comments*/
	/*Show more stuff*/
	.style-scope.ytd-comment-replies-renderer:hover,.more-button.style-scope.ytd-comment-renderer:hover,.more-button.style-scope.ytd-video-secondary-info-renderer:hover
	{
		color: var(--main-color) !important;
	}
	
	/*Show more videos*/
	.style-scope.yt-next-continuation:hover
	{
		background-color: var(--hover-background) !important;
		color: var(--main-color) !important;
	}
	
	/*Heart icon in comments*/
	#hearted-border.ytd-creator-heart-renderer,#hearted.ytd-creator-heart-renderer
	{
		color: var(--main-color) !important;
	}
	
	
	/*Resizing the top bar and it's spacing to get some extra vertical space*/
	/*
	ytd-page-manager 
	{
		margin-top: 30px !important;
	}
	#container.ytd-masthead
	{
		height: 40px !important;
	}
	*/
	
	/*Notification stuff*/
	#notification-count.ytd-notification-topbar-button-renderer
	{
		background-color: var(--main-color) !important;
		box-shadow: -1px 1px var(--main-background);
	}
 	#button:hover 
  	{
  		color: var(--main-color) !important;
  	}
	ytd-notification-renderer.unseen #new.ytd-notification-renderer
	{
		background-color: var(--main-color) !important;
	}

	/*Cards*/
	.iv-card-content,.ytp-ce-expanding-overlay-background,.ytp-cards-teaser .ytp-cards-teaser-text
	{
		background-color: var(--second-background) !important;
	}
	.ytp-cards-teaser .ytp-cards-teaser-box,.iv-card-image
	{
		border: 0px !important;
	}
	.iv-card-content > :first-child,.html5-video-player a,.iv-card h2,.ytp-cards-teaser .ytp-cards-teaser-text
	{
		color: var(--main-text) !important;
	}
	.iv-card:hover .iv-card-primary-link,.ytp-ce-website-title
	{
		color: var(--main-color) !important;
	}
	.ytp-ce-element:hover 
	{
		border-color: var(--main-color) !important;
	}
	.ytp-ce-channel-title.ytp-ce-link
	{
		color: var(--main-color) !important;
		opacity: 0.9 !important;
	}
	.ytp-ce-channel-title.ytp-ce-link:hover,.ytp-cards-teaser .ytp-cards-teaser-text:hover
	{
		color: var(--main-color) !important;
		opacity: 1 !important;
	}
	.ytp-ce-channel-metadata.yt-ui-ellipsis.yt-ui-ellipsis-3 {
		background: transparent;
		color: var(--dimer-text);
	}
}
